@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #0078d4;
  --color-secondary: #828282;
  --color-tertiary: #3d48b7;
  --color-light: #ffffff;
  --color-white: #fdf7e6;
  --color-dark: #202224;
  --color-yellow: #f0c64d;
  --color-gray: #F7DD90;
  --color-text: #202224;
  --color-brown: #634c07;
  --color-darkyellow: #c6970e;
  --color-lightyellow:#DDA90F;
  --color-lightgray: #b8343429;
  --color-extralightgray: #97757511;
  --color-pink: #af6b76;
  --color-red: #dc2626;
  --color-darkred: #b91c1c;
  --color-green: #2CB24B;
  --color-darkgreen: #16a34a;

  /* Font families */
  --font-urbanist: "Urbanist", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
  --font-plusjakarta: "Plus Jakarta Sans", sans-serif;
}

@layer utilities {
  .container-bg {
    @apply rounded-xl bg-white shadow;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Font utility classes */
  .font-urbanist {
    font-family: var(--font-urbanist);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-nunito {
    font-family: var(--font-nunito);
  }

  .font-plusjakarta {
    font-family: var(--font-plusjakarta);
  }
}
